@{
    ViewData["Title"] = "Clock In";
}

@*<form method="post">
    <input type="submit" asp-page-handler="usermaster" value="Save Master" />
    <input type="submit" asp-page-handler="userdetail" value="Save Details" />
</form>
<div id="log"></div>
<p id="demo"></p>

<div id="dvPostItems" style="font-size:24px;">
</div>
<div class="row">
    <button id="locationButton" type="button" class="btn btn-default" onclick="function()">Use Actual Location</button>
</div>*@

@*<script>
    (function () {
        'use strict';

        var module = {
            options: [],
            header: [navigator.platform, navigator.userAgent, navigator.appVersion, navigator.vendor, window.opera],
            dataos: [
                { name: 'Windows Phone', value: 'Windows Phone', version: 'OS' },
                { name: 'Windows', value: 'Win', version: 'NT' },
                { name: 'iPhone', value: 'iPhone', version: 'OS' },
                { name: 'iPad', value: 'iPad', version: 'OS' },
                { name: 'Kindle', value: 'Silk', version: 'Silk' },
                { name: 'Android', value: 'Android', version: 'Android' },
                { name: 'PlayBook', value: 'PlayBook', version: 'OS' },
                { name: 'BlackBerry', value: 'BlackBerry', version: '/' },
                { name: 'Macintosh', value: 'Mac', version: 'OS X' },
                { name: 'Linux', value: 'Linux', version: 'rv' },
                { name: 'Palm', value: 'Palm', version: 'PalmOS' }
            ],
            databrowser: [
                { name: 'Chrome', value: 'Chrome', version: 'Chrome' },
                { name: 'Firefox', value: 'Firefox', version: 'Firefox' },
                { name: 'Safari', value: 'Safari', version: 'Version' },
                { name: 'Internet Explorer', value: 'MSIE', version: 'MSIE' },
                { name: 'Opera', value: 'Opera', version: 'Opera' },
                { name: 'BlackBerry', value: 'CLDC', version: 'CLDC' },
                { name: 'Mozilla', value: 'Mozilla', version: 'Mozilla' }
            ],
            init: function () {
                var agent = this.header.join(' '),
                    os = this.matchItem(agent, this.dataos),
                    browser = this.matchItem(agent, this.databrowser);

                return { os: os, browser: browser };
            },
            matchItem: function (string, data) {
                var i = 0,
                    j = 0,
                    html = '',
                    regex,
                    regexv,
                    match,
                    matches,
                    version;

                for (i = 0; i < data.length; i += 1) {
                    regex = new RegExp(data[i].value, 'i');
                    match = regex.test(string);
                    if (match) {
                        regexv = new RegExp(data[i].version + '[- /:;]([\\d._]+)', 'i');
                        matches = string.match(regexv);
                        version = '';
                        if (matches) { if (matches[1]) { matches = matches[1]; } }
                        if (matches) {
                            matches = matches.split(/[._]+/);
                            for (j = 0; j < matches.length; j += 1) {
                                if (j === 0) {
                                    version += matches[j] + '.';
                                } else {
                                    version += matches[j];
                                }
                            }
                        } else {
                            version = '0';
                        }
                        return {
                            name: data[i].name,
                            version: parseFloat(version)
                        };
                    }
                }
                return { name: 'unknown', version: 0 };
            }
        };

        var e = module.init(),
            debug = '';

        debug += 'os.name = ' + e.os.name + '<br/>';
        debug += 'os.version = ' + e.os.version + '<br/>';
        debug += 'browser.name = ' + e.browser.name + '<br/>';
        debug += 'browser.version = ' + e.browser.version + '<br/>';

        debug += '<br/>';
        debug += 'navigator.userAgent = ' + navigator.userAgent + '<br/>';
        debug += 'navigator.appVersion = ' + navigator.appVersion + '<br/>';
        debug += 'navigator.platform = ' + navigator.platform + '<br/>';
        debug += 'navigator.vendor = ' + navigator.vendor + '<br/>';

        document.getElementById('log').innerHTML = debug;

        var x = document.getElementById("demo");

        getLocation();
        $.ajax({
            type: "POST",
            url: "/Demo?handler=Send",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var dvItems = $("#dvPostItems");
                dvItems.empty();
                $.each(response, function (i, item) {
                    var $tr = $('<li>').append(item).appendTo(dvItems);
                });
            },
            failure: function (response) {
                alert(response);
            }
        });

        document.getElementById('log').innerHTML = "";
        x = "";
    

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
        }
        



    }());
</script>*@
<img src="~/images/dvchoc.png" alt="dvclockin" />
<form class="login-form" asp-controller="Home" asp-action="About" method="POST">
    <input type="text" name="firstName" placeholder="first name" />
    <input type="text" name="lastName" placeholder="last name">
    <input type="text" name="personalIDnumber" placeholder="ID/password number">
    <input type="hidden" name="latitude" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="longitude" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="osName" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="osVersion" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="browserName" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="browserVersion" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="navigatorUserAgent" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="navigatorAppVersion" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="navigatorPlatform" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="navigatorVendor" value="fsdafasdfasdfasdfasfasfd">
    <input type="hidden" name="dateTime" value="fsdafasdfasdfasdfasfasfd">

    <input type="submit" value="Clock In/Clock out" />
</form>


  
<script type="text/javascript">
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(useLocation);
        }
    };

    function useLocation(position) {
        window.location.replace('?longitude=' + position.coords.longitude + '&latitude=' + position.coords.latitude);
    };
</script>





<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }

       
}
    

    function showPosition(position) {
        var currentdate = new Date();
        var datetime = " currentdate.getDate() + " / "
            + (currentdate.getMonth() + 1) + "/"
            + currentdate.getFullYear() + " "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes() + ":"
            + currentdate.getSeconds();
        x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude + datetime;
    }


</script>





